html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  max-width: 100vw;
  height: 100vh;

  color: white;
  
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  max-width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  width: 98%;
  height: 18%;
  border: 2px solid white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 98%;
  height: 50%;
  border: 2px solid white;

}

div.description {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 98%;
  height: 10%;
  border: 2px solid white;
  font-size: 1.9rem;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 98%;
  height: 18%;
  border: 2px solid white;

}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem
}

button {
  width: 40%;
  height: 100%;
  border: none;
}

.good {
  background: url(./img/good.png) no-repeat center center/contain;
}

.bad {
  background: url(./img/bad.png) no-repeat center center/contain;
}

.bird {
  background: url(./img/bird.jpg) no-repeat center center/contain;
}
.butterflies {
  background: url(./img/butterflies.jpg) no-repeat center center/contain;
}
.cat {
  background: url(./img/cat.jpg) no-repeat center center/contain;
}
.fox {
  background: url(./img/fox.jpg) no-repeat center center/contain;
}
.giraff {
  background: url(./img/giraff.jpg) no-repeat center center/contain;
}
.horse {
  background: url(./img/horse.jpg) no-repeat center center/contain;
}
.owl {
  background: url(./img/owl.jpg) no-repeat center center/contain;
}
.swans {
  background: url(./img/swans.jpg) no-repeat center center/contain;
}
.zebra {
  background: url(./img/zebra.jpg) no-repeat center center/contain;
}

@media (min-width:701px) {
  .App {
    width: 50vw;
    height: 100vh;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width:700px) {
  .App {
    width: 100vw;
    height: 100vh;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width:240px) {
  .App {
    width: 100vw;
    height: 100vh;
  }

  h1 {
    font-size: 1.5rem;
  }
}